---
import Layout from "../layouts/Layout.astro";
import directus from "../lib/directus";
import { readSingleton, readItems } from "@directus/sdk";
import Card from "../components/Card.astro";
import BlogListItem from "../components/BlogListItem.astro";
import TagCloud from "../components/TagCloud.astro";
import '../styles/custom.scss';
const global = await directus.request(readSingleton("global"));
const posts = await directus.request(readItems("posts", {
  fields: ['*', { author: ['*'] }],
}));

// Extract and count tags
const tagCounts = posts.reduce((acc, post) => {
  if (Array.isArray(post.tags)) {
    post.tags.forEach(tag => {
      acc[tag] = (acc[tag] || 0) + 1;
    });
  }
  return acc;
}, {});

export async function getStaticPaths() {
  return posts.map((post) => ({ params: { slug: post.slug }, props: post }));
}
const post = Astro.props;
---

<Layout title={global.title} description={global.description}>

  <p>{global.description}</p>
  <div class="my-6"></div>
  <p class="mb-4 text-2xl font-bold">This Blog is built with:</p>
  <section class="flex w-full flex-col gap-8 lg:flex-row">
    <a
      href="https://www.directus.io/"
      class="w-full rounded-md bg-[#1e1e1e] p-6 shadow-md transition hover:opacity-80 hover:shadow-lg">
      <h3
        class="w-fit bg-gradient-to-l from-[#f3b5ff] to-[#ff10c3] bg-clip-text text-2xl font-bold text-transparent">
        Directus
      </h3>
      <p class="text-white">
        A composable data platform to build your Headless CMS, BaaS, and more. 
      </p>
    </a>
    <a
      href="https://astro.build/"
      class="w-full rounded-md bg-[#1e1e1e] p-6 shadow-md transition hover:opacity-80 hover:shadow-lg">
      <h3
        class="w-fit bg-gradient-to-b from-[#4f39fa] to-[#da62c4] bg-clip-text text-2xl font-bold text-transparent">
        Astro
      </h3>
      <p class="text-white">
        A lightweight web framework for building content focused websites.
      </p>
    </a>
  </section>
  <div class="my-6"></div>

  <section>
    <h3 class="mb-4 text-2xl font-bold">Blog Posts</h3>
    <ul class="grid gap-8 md:grid-cols-2">
      {
        posts.slice(0, 2).map((post) => (
          <Card
            title={post.title}
            slug={post.slug}
            content={post.excerpt}
            tags={post.tags}
          />
        ))
      }
    </ul>
    <div class="my-6"></div>
    <ul class="rounded-md bg-white shadow-md transition hover:shadow-xl">
      {
        posts.slice(2, 6).map((post) => (
          <BlogListItem
            title={post.title}
            slug={post.slug}
            content={post.excerpt}
            tags={post.tags}
          />
        ))
      }
    </ul>
  </section>

  <div class="my-6"></div>
  <TagCloud tagCounts={tagCounts} />
</Layout>