---
export interface Props {
  title: string
  content: string
  slug: string
  tags: string[]
  image: {
    id: string
    description: string
  }}

const { title, content, slug, tags, image } = Astro.props
---

<li class="rounded-md bg-white shadow-md transition hover:shadow-xl hover:scale-105 h-96">
  <a href={`/blog/${slug}`} class="flex flex-col h-full gap-y-2 pb-4">
    <div class="w-full h-1/2 rounded-t-md overflow-hidden">
      <img src={ `${process.env.DIRECTUS_URL}/assets/${image}` } alt={title} class="h-full w-full rounded-t-sm object-cover object-center"/>
    </div>
    <div class="flex h-1/2 flex-col gap-y-1 px-4">
      <h2 class="text-base font-semibold line-clamp-1 py-1">
        {title}
      </h2>
      <p class="text-sm h-3/5 line-clamp-5">
        {content}
      </p>
      <div class="flex flex-wrap gap-1 h-1/5 p-1 tag-block">
        {tags?.map((tag) => (
          <span class="rounded-sm px-2 py-1 text-xs font-bold text-white shadow transition tag-style" data-tag={tag}>
            {tag}
          </span>
        ))}
      </div>
    </div>
  </a>
</li>