---
import { readItems } from "@directus/sdk";
import directus from "../lib/directus";
import BlogListLine from "./BlogListLine.astro";
const posts = await directus.request(readItems("posts", {
  fields: ['*'],
}));
---

<section class="py-8">
  <h2 class="py-4 text-xl md:mb-4 md:text-2xl lg:text-3xl font-bold">Blog Post Lines</h2>
    <ul class="flex flex-col gap-y-2 md:gap-y-3 lg:gap-y-10">
        {
          posts.slice(2, 6).map((post) => (
            <BlogListLine
              title={post.title}
              slug={post.slug}
              content={post.excerpt}
              tags={post.tags}
              image={post.image}
            />
          ))
        }
      </ul>
</section>