---
import { readItems, readSingleton } from "@directus/sdk";
import directus from "../lib/directus";
const keycards = await directus.request(readItems("keycards", {
  fields: ['*'],
}));
const global = await directus.request(readSingleton("global", {
  fields: ['keycard_headline'],
}));
---
<h3 class="mb-2 text-xl md:mb-4 md:text-2xl font-bold">{global.keycard_headline}</h3>
<section class="grid grid-cols-1 md:grid-cols-2 gap-2 md:gap-4">
  {keycards.map((keycard) => (
    <a
      href={keycard.link}
      class={`keycard ${keycard.style} relative overflow-hidden group`}
      data-style={keycard.style}
    >
      <div class="keycard-bg-image absolute inset-0 transition-transform duration-300 group-hover:scale-110"></div>
      <div class="keycard-gradient absolute inset-0"></div>
      <div class="relative inset-0 z-10">
        <h3
          class="w-fit text-xl md:text-2xl font-bold relative">
          <span class="absolute top-0 h3-headline left-0 line-clamp-1">
            {keycard.title}
          </span>
          <span class="relative z-10 h3-shadow line-clamp-1">
            {keycard.title}
          </span>
        </h3>
        <p class="text-white text-sm md:text-sm line-clamp-1">
          {keycard.excerpt}
        </p>
      </div>
    </a>
  ))}
</section>

<div class="my-4 md:my-6"></div>