---
import directus from "../lib/directus";
import { readSingleton, readItems } from "@directus/sdk";
const global = await directus.request(readSingleton('global')),
      pages = await directus.request(readItems('pages', { filter: { menus: { _contains: 'main-menu' }} } ));
---
<nav class="bg-white shadow-lg">
  <div class="flex flex-wrap items-center justify-between mx-auto 
  h-12    max-h-12           max-w-full  px-2
  sm:h-16 sm:max-h-16     sm:w-full sm:max-w-full sm:px-4
  md:h-20 md:max-h-20      md:w-full md:max-w-full md:px-8
  lg:h-20 lg:max-h-20      lg:w-full lg:max-w-full lg:px-8
  xl:h-24 xl:max-h-24      xl:max-w-full w-full xl:px-16 
  2xl:h-24 2xl:max-h-24  2xl:max-w-2xl 2xl:px-16
  3xl:h-24 3xl:max-h-24  3xl:max-w-2xl 3xl:px-16
  ">
    <a href={global.site_url} class="flex items-center space-x-3 rtl:space-x-reverse h-full py-3 xl:py-5">
      {global.logo_style === 'icon-and-text' && (
        <>
          <img src={`${directus.url}assets/${global.logo_icon}`} alt={global.logo_icon.description} class="h-full w-auto object-contain" />
          <span class="self-center font-semibold whitespace-nowrap text-2xl lg:text-3xl">{global.logo_text}</span>
        </>
      )}
      {global.logo_style === 'icon-only' && (
        <img src={`${directus.url}assets/${global.logo_icon}`} alt={global.logo_icon.description} class="h-full w-auto object-contain" />
      )}
      {global.logo_style === 'logo-image' && (
        <div class="max-w-1/2 w-1/2">
          <img src={`${directus.url}assets/${global.logo_image}`} alt={global.logo_image.description} class="object-contain" />
        </div>
      )}
    </a>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="h-full aspect-w-1 aspect-h-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto h-full p-0 m-0" id="navbar-default">
      <ul class="font-medium flex flex-col md:flex-row md:space-x-0 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white h-full p-0 m-0">
        <li class="p-0 m-0 flex">
          <a href="/hard-coded" class="h-full w-full flex items-center py-2 m-0 px-3 lg:px-5 text-gray-900 border-x hover:bg-gray-100 hover:shadow-lg hover:drop-shadow-lg hover:scale-110 hover:border-0 transition-all duration-100">Fixed Link 1</a>
        </li>
        <li class="p-0 m-0 flex">
          <a href="/hard-coded" class="h-full w-full flex items-center m-0 py-2 px-3 lg:px-5 text-gray-900 border-r hover:bg-gray-100 hover:shadow-lg hover:drop-shadow-lg hover:scale-105 transition-all duration-100">Fixed Link 2</a>
        </li>
        {pages.map(page => (
          <li class="p-0 m-0 flex">
            <a href={`/${page.slug}`} class="h-full w-full flex items-center m-0 py-2 px-3 lg:px-5 text-gray-900 border-r hover:bg-gray-100 hover:shadow-lg hover:drop-shadow-lg hover:scale-105 transition-all duration-100">{page.title}</a>
          </li>
        ))}
        <li class="p-0 m-0 flex">
          <a href="#" class="h-full w-full flex items-center m-0 py-2 px-3 lg:px-5 text-gray-900 border-r hover:bg-gray-100 hover:shadow-lg hover:drop-shadow-lg hover:scale-105 transition-all duration-100">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>